@font-face {
  font-family: "iconfont"; /* Project id 4504304 */
  src: url('//at.alicdn.com/t/c/font_4504304_a1yvb475hg.woff2?t=1722777222181') format('woff2'),
  url('//at.alicdn.com/t/c/font_4504304_a1yvb475hg.woff?t=1722777222181') format('woff'),
  url('//at.alicdn.com/t/c/font_4504304_a1yvb475hg.ttf?t=1722777222181') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijianma:before {
  content: "\e6a7";
}

.icon-guanyu:before {
  content: "\e6a1";
}

.icon-shoucang:before {
  content: "\e65f";
}

.icon-tuijian:before {
  content: "\e60f";
}

.icon-hualang:before {
  content: "\e60a";
}

.icon-tuijian1:before {
  content: "\e610";
}

.icon-wodewenzhang:before {
  content: "\e618";
}

.icon-guanyu1:before {
  content: "\e60b";
}

.icon-shoucang1:before {
  content: "\e605";
}

.icon-beiyong:before {
  content: "\e692";
}

.icon-guanyu2:before {
  content: "\e631";
}

.icon-ziyuan-copy:before {
  content: "\e600";
}

.icon-bookrack:before {
  content: "\e6ca";
}

.icon-save:before {
  content: "\e6ed";
}

.icon-video:before {
  content: "\e6bf";
}

.icon-picture:before {
  content: "\e6d8";
}

.icon-performance:before {
  content: "\e6e2";
}

.icon-pin:before {
  content: "\e6e3";
}

.icon-arrowupboldcircleoutline:before {
  content: "\e65e";
}

.icon-brightness4:before {
  content: "\e6d3";
}

.icon-linkvariant:before {
  content: "\e92d";
}

.icon-imagevector:before {
  content: "\e601";
}

.icon-logo:before {
  content: "\e602";
}
