:root {
  --light-grey: #f7f7f7;
  --main-dark: #18181c;
  --grey-dark: #48484e;
  
  --color-primary: #2080f0;
  --color-primary-light: #70c0e8;
  --color-success: #18a058;
  --color-success-light: #63e2b7;
  --color-warning: #f0a020;
  --color-warning-light: #f2c97d;
  --color-error: #d03050;
  --color-error-light: #e88080;
}

body {
  --bg-color-main: #fff;
  --bg-color-card: #fff;
  --bg-color-dark: #f5f5f5;
  --bg-color-darker: #3a3f51;
  --icon-color: #666;
  --active-color: #3330e8;
  --border-color: #efeff5;
  
  --theme-color-primary: var(--color-primary);
  --theme-color-success: var(--color-success);
  --theme-color-warning: var(--color-warning);
  --theme-color-error: var(--color-error);
  
  --theme-color-shadow: 255, 255, 255;
  --theme-color-shadow-icon: 255, 255, 255;
  
  --text-color-main: #333;
  --text-color-sub: #666;
  --text-color-tip: #999;
}

body[data-theme="dark"] {
  --bg-color-main: var(--main-dark);
  --bg-color-card: var(--grey-dark);
  --bg-color-dark: #333;
  --bg-color-darker: #2c2c32;
  --icon-color: #fff;
  --active-color: #fff;
  --border-color: #3f3f44;
  
  --theme-color-primary: var(--color-primary-light);
  --theme-color-success: var(--color-success-light);
  --theme-color-warning: var(--color-warning-light);
  --theme-color-error: var(--color-error-light);
  
  --theme-color-shadow: 255, 255, 0;
  --theme-color-shadow-icon: 48, 48, 48;
  
  --text-color-main: #fff;
  --text-color-sub: #fff;
  --text-color-tip: #fff;
}
